$primaryColor: hsl(193, 38%, 86%);
$secondaryColor: hsl(150, 100%, 66%);

$backGroundPrimary: hsl(217, 19%, 24%);
$backGroundSecondary: hsl(217, 19%, 38%);

$dividerColor: hsl(218, 23%, 16%);

// variables of spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// variables of borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
